*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 13:54:51 Feb 03, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:41:52 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.647
  exclusion.robots: 0.031
  exclusion.robots.policy: 0.013
  esindex: 0.016
  cdx.remote: 5.341
  LoadShardBlock: 61.782 (3)
  PetaboxLoader3.datanode: 105.329 (4)
  load_resource: 117.887
  PetaboxLoader3.resolve: 71.424
*/