*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 18:52:36 Feb 03, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:28:28 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.879
  exclusion.robots: 0.027
  exclusion.robots.policy: 0.013
  esindex: 0.015
  cdx.remote: 80.718
  LoadShardBlock: 184.997 (3)
  PetaboxLoader3.datanode: 172.527 (4)
  load_resource: 111.519
  PetaboxLoader3.resolve: 80.282
*/