*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 18:52:36 Feb 03, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:03:50 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.737
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.011
  esindex: 0.015
  cdx.remote: 21.154
  LoadShardBlock: 86.939 (3)
  PetaboxLoader3.datanode: 108.795 (4)
  load_resource: 83.745
  PetaboxLoader3.resolve: 39.098
*/