*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 13:54:51 Feb 03, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:24:39 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.78
  exclusion.robots: 0.028
  exclusion.robots.policy: 0.013
  esindex: 0.014
  cdx.remote: 6.39
  LoadShardBlock: 130.968 (3)
  PetaboxLoader3.datanode: 231.807 (4)
  load_resource: 201.93
  PetaboxLoader3.resolve: 77.099
*/