*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 19:38:13 Feb 13, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:02:55 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.51
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.007
  esindex: 0.012
  cdx.remote: 63.764
  LoadShardBlock: 145.225 (3)
  PetaboxLoader3.datanode: 111.808 (4)
  load_resource: 69.114
  PetaboxLoader3.resolve: 55.677
*/