*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 14:52:50 Feb 03, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:15:17 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.509
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.011
  esindex: 0.01
  cdx.remote: 23.676
  LoadShardBlock: 52.353 (3)
  PetaboxLoader3.datanode: 117.555 (4)
  load_resource: 171.139
  PetaboxLoader3.resolve: 86.551
*/