*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 18:52:36 Feb 03, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:18:09 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.531
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.01
  esindex: 0.01
  cdx.remote: 59.286
  LoadShardBlock: 267.864 (3)
  PetaboxLoader3.datanode: 264.129 (4)
  load_resource: 113.671
  PetaboxLoader3.resolve: 87.073
*/