*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 18:52:36 Feb 03, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:23:21 Sep 17, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.819
  exclusion.robots: 0.026
  exclusion.robots.policy: 0.011
  esindex: 0.014
  cdx.remote: 8.826
  LoadShardBlock: 144.668 (3)
  PetaboxLoader3.datanode: 85.902 (4)
  PetaboxLoader3.resolve: 80.561 (2)
  load_resource: 74.088
*/