*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 20:38:59 Feb 13, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:56:13 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.549
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.01
  esindex: 0.012
  cdx.remote: 46.392
  LoadShardBlock: 203.045 (3)
  PetaboxLoader3.datanode: 276.894 (5)
  load_resource: 293.795 (2)
  PetaboxLoader3.resolve: 178.143 (2)
*/