*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 15:31:11 Feb 03, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:54:29 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.769
  exclusion.robots: 0.028
  exclusion.robots.policy: 0.013
  esindex: 0.017
  cdx.remote: 57.955
  LoadShardBlock: 287.011 (3)
  PetaboxLoader3.datanode: 289.522 (4)
  load_resource: 142.653
  PetaboxLoader3.resolve: 100.626
*/