*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 18:52:36 Feb 03, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:42:09 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.505
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.009
  esindex: 0.011
  cdx.remote: 7.306
  LoadShardBlock: 81.03 (3)
  PetaboxLoader3.datanode: 96.166 (4)
  load_resource: 114.11
  PetaboxLoader3.resolve: 95.049
*/