*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 19:38:13 Feb 13, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:29:12 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.61
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.012
  esindex: 0.014
  cdx.remote: 43.466
  LoadShardBlock: 62.713 (3)
  PetaboxLoader3.datanode: 89.552 (4)
  load_resource: 168.051
  PetaboxLoader3.resolve: 137.087
*/