*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 20:30:25 Feb 13, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:59:36 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.664
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.012
  esindex: 0.012
  cdx.remote: 124.251
  LoadShardBlock: 1924.13 (3)
  PetaboxLoader3.datanode: 1859.613 (4)
  load_resource: 531.103
  PetaboxLoader3.resolve: 399.843
*/