*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 13:54:51 Feb 03, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:17:53 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.057
  exclusion.robots: 0.036
  exclusion.robots.policy: 0.014
  esindex: 0.022
  cdx.remote: 16.875
  LoadShardBlock: 2432.237 (3)
  PetaboxLoader3.datanode: 2394.246 (4)
  load_resource: 120.095
  PetaboxLoader3.resolve: 86.226
*/