*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 20:38:59 Feb 13, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:22:37 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.698
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.011
  esindex: 0.013
  cdx.remote: 35.304
  LoadShardBlock: 124.351 (3)
  PetaboxLoader3.datanode: 102.813 (5)
  PetaboxLoader3.resolve: 174.545 (3)
  load_resource: 168.629 (2)
*/