*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 19:38:13 Feb 13, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:17:24 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.7
  exclusion.robots: 0.026
  exclusion.robots.policy: 0.012
  esindex: 0.015
  cdx.remote: 43.597
  LoadShardBlock: 75.195 (3)
  PetaboxLoader3.datanode: 94.269 (4)
  load_resource: 28.649
*/