*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 13:54:51 Feb 03, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:01:48 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.833
  exclusion.robots: 0.031
  exclusion.robots.policy: 0.014
  esindex: 0.018
  cdx.remote: 6.067
  LoadShardBlock: 139.683 (3)
  PetaboxLoader3.datanode: 196.53 (4)
  load_resource: 200.686
  PetaboxLoader3.resolve: 136.545
*/