*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 20:38:59 Feb 13, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:50:56 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.973
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.01
  esindex: 0.013
  cdx.remote: 62.121
  LoadShardBlock: 355.89 (3)
  PetaboxLoader3.datanode: 396.229 (5)
  PetaboxLoader3.resolve: 427.699 (3)
  load_resource: 505.581 (2)
*/