*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 20:38:59 Feb 13, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:16:42 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.541
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.01
  esindex: 0.014
  cdx.remote: 11.165
  LoadShardBlock: 77.201 (3)
  PetaboxLoader3.datanode: 92.975 (5)
  load_resource: 414.945 (2)
  PetaboxLoader3.resolve: 319.028 (2)
*/