*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 13:54:51 Feb 03, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:29:53 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.54
  exclusion.robots: 0.078
  exclusion.robots.policy: 0.036
  esindex: 0.039
  cdx.remote: 22.19
  LoadShardBlock: 443.105 (3)
  PetaboxLoader3.datanode: 248.553 (4)
  load_resource: 143.113
  PetaboxLoader3.resolve: 115.632
*/