*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 18:52:36 Feb 03, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:14:09 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.71
  exclusion.robots: 0.031
  exclusion.robots.policy: 0.014
  esindex: 0.014
  cdx.remote: 50.859
  LoadShardBlock: 174.585 (3)
  PetaboxLoader3.datanode: 203.854 (4)
  load_resource: 451.647
  PetaboxLoader3.resolve: 391.352
*/