*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 19:38:13 Feb 13, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:43:04 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.983
  exclusion.robots: 0.03
  exclusion.robots.policy: 0.012
  esindex: 0.075
  cdx.remote: 184.199
  LoadShardBlock: 95.726 (3)
  PetaboxLoader3.datanode: 156.4 (4)
  load_resource: 140.713
  PetaboxLoader3.resolve: 67.946
*/