*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 19:38:13 Feb 13, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:53:37 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.712
  exclusion.robots: 0.027
  exclusion.robots.policy: 0.014
  esindex: 0.02
  cdx.remote: 47.374
  LoadShardBlock: 213.214 (3)
  PetaboxLoader3.datanode: 379.605 (4)
  load_resource: 402.237
  PetaboxLoader3.resolve: 181.059
*/