*,*:before,*:after{box-sizing:border-box}*:focus,*:hover{outline:none}
/*
     FILE ARCHIVED ON 15:31:11 Feb 03, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:18:20 Sep 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.541
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.011
  esindex: 0.012
  cdx.remote: 38.304
  LoadShardBlock: 321.595 (3)
  PetaboxLoader3.datanode: 707.032 (4)
  load_resource: 611.507
  PetaboxLoader3.resolve: 109.077
*/